.version.index /* version checker */
{
	color: #0000EA;
	background-color: #B1ED9C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u95
{
	z-index: 2;
	width: 559px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 797px;
	left: 562px;
}

#u97
{
	z-index: 3;
	width: 635px;
	height: 122px;
	margin-bottom: -12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: -47px;
}

.ie #u97
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u81
{
	z-index: 4;
	width: 1228px;
	border-width: 1px;
	border-style: solid;
	border-color: #F200F0;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -29px;
}

#u114-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 759px;
	left: 507px;
}

#u117
{
	z-index: 10;
	width: 200px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #E9FFDA;
	position: relative;
	margin-right: -10000px;
	margin-top: 694px;
	left: 366px;
}

#u119
{
	z-index: 11;
	width: 421px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #E9FFDA;
	position: relative;
	margin-right: -10000px;
	margin-top: 759px;
	left: 66px;
}

#u121
{
	z-index: 12;
	width: 200px;
	min-height: 151px;
	border-style: none;
	border-color: transparent;
	background-color: #E9FFDA;
	position: relative;
	margin-right: -10000px;
	margin-top: 784px;
	left: 944px;
}

#u123
{
	z-index: 13;
	width: 200px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #E9FFDA;
	position: relative;
	margin-right: -10000px;
	margin-top: 759px;
	left: 944px;
}

#u125
{
	z-index: 14;
	width: 421px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: #E9FFDA;
	position: relative;
	margin-right: -10000px;
	margin-top: 807px;
	left: 507px;
}

#u127
{
	z-index: 15;
	width: 110px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: #E9FFDA;
	position: relative;
	margin-right: -10000px;
	margin-top: 788px;
	left: 818px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

